<mat-card class="entry-card">
  <div class="entry-card__content">
    <span class="entry-card__content__original-text">{{ entry.originalText }}</span>
    <span class="entry-card__content__translation mat-caption">{{ entry.translation }}</span>
  </div>

  <div class="entry-card__toolbox">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit()">
        <mat-icon>edit</mat-icon>
        <span>edit</span>
      </button>
      <button mat-menu-item (click)="delete()">
        <mat-icon>delete</mat-icon>
        <span>delete</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
