<ng-container *ngIf="listVm; else loading">

  <ng-container *ngIf="listVm.groups.length > 0; else empty">
    <mat-list #list class="entry-list">
      <div class="entry-list__group" *ngFor="let group of listVm.groups">
        <div class="entry-list__group__header">
          <h3 mat-subheader>
            {{ group.date | date }}
          </h3>
          <mat-divider></mat-divider>
        </div>

        <mat-list-item *ngFor="let entry of group.entries" class="entry-list__list-item"
                      [@entryCardEnterLeave]="entry.isNew ? 'new' : undefined"
                      (@entryCardEnterLeave.done)="entry.isNew = false">
          <app-entry-item mat-line
                          [entry]="entry"
                          (editRequest)="onEditRequested(entry)"
                          (deleteRequest)="onDeleteRequested(entry, group)">
          </app-entry-item>
        </mat-list-item>
      </div>
    </mat-list>
  </ng-container>

  <ng-template #empty>
    <div class="empty-list-container mat-typography">
      <p class="mat-body-2">It is lonely here...</p>
      <p>Start by adding a word or phrase in a foreign language that you would like to learn.</p>
    </div>
  </ng-template>

</ng-container>

<ng-template #loading>
  <mat-spinner class="loading-spinner" mode="indeterminate"></mat-spinner>
</ng-template>

<button mat-fab (click)="addNewEntry()" class="new-entry-fab"><mat-icon>add</mat-icon></button>
