@import "../../styles/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.entry-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .entry-list__list-item ::ng-deep.mat-list-item-content {
    height: auto;
    padding: 0;
  }

  .entry-list__list-item + .entry-list__list-item {
    margin-top: 10px;
  }

  .entry-list__group {
    @media (min-width: $screen-tablet) {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 90px;
    }

    .entry-list__group__header {
      display: flex;
      h3 {
        color: mat-color($primary);
      }

      .mat-divider {
        flex: 1;
        align-self: center;
        margin-top: -8px;
        margin-right: 16px;
        background: mat-color($primary);
      }
    }
  }
}

.loading-spinner-container {
  margin: auto;
}

.empty-list-container {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.new-entry-fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
