@if (isInitialListLoaded()) {
  <mat-list #list class="entry-list" data-test-id="entry-list">
    @if (randomEntry() || isLoadingRandomEntry()) {
      <div class="random-entry">
        <app-random-entry
          [entry]="randomEntry()"
          [isLoading]="isLoadingRandomEntry()"
          (nextEntryRequest)="onUpdateRandomEntryRequested()"
          (editRequest)="onEditRandomEntryRequested(randomEntry()!)"
          (deleteRequest)="onDeleteRequested(randomEntry()!)"
          (markLearnedRequest)="onMarkLearnedRandomEntryRequested(randomEntry()!)"
        />
      </div>
    }
    @if (timeGroups().length > 0) {
      @for (group of timeGroups(); track group.order) {
        <div class="entry-list__group">
          <div class="entry-list__group__header">
            <h3 mat-subheader>
              {{ group.name }}
            </h3>
            <mat-divider />
          </div>
          @for (entryState of group.entries; track entryState.data.id) {
            <mat-list-item
              class="entry-list__list-item"
              [@entryCardEnterLeave]="entryState.uiState.animationTrigger"
              (@entryCardEnterLeave.done)="onAddAnimationFinished(entryState.data);"
              data-test-id="entry-list-item"
            >
              <app-entry-item
                [originalText]="entryState.data.originalText"
                [translation]="entryState.data.translation"
                [isLearned]="entryState.uiState.isLearned"
                (editRequest)="onEditRequested(entryState.data)"
                (deleteRequest)="onDeleteRequested(entryState.data)"
                (toggleIsLearnedRequest)="onToggleIsLearnedRequested(entryState.data)"
              >
              </app-entry-item>
            </mat-list-item>
          }
        </div>
      }
      <div class="entry-list__footer">
        @if (canLoadMore()) {
          @if (!isLoadingMore()) {
            <button mat-raised-button (click)="loadMore()">load more</button>
          } @else {
            <div class="loading-spinner-container">
              <mat-spinner mode="indeterminate" [diameter]="40" [strokeWidth]="5" />
            </div>
          }
        }
      </div>
    } @else {
      @if (stats(); as statsValue) {
        @let allLearned = statsValue.totalEntryCount > 0;
        <div class="empty-list-container mat-typography">
          <p class="mat-subtitle-2" data-test-id="empty-list-main-message">
            {{ allLearned ? 'All done' : 'It is lonely here...' }}
          </p>
          <p>{{ allLearned ? 'Congratulations!' : 'Start by adding a word or phrase in a foreign language that you would like to learn.' }}</p>
        </div>
      }
    }
  </mat-list>
} @else {
  <div class="loading-spinner-container">
    <mat-spinner mode="indeterminate" />
  </div>
}

<button mat-fab (click)="addNewEntry()" class="new-entry-fab" data-test-id="add-button">
  <mat-icon>add</mat-icon>
</button>
