@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.error-message {
  background: #f44336;
  color: #fff;
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: stretch;
  flex-direction: column;

  .login-buttons-card {
    display: flex;

    button + button {
      margin-left: 20px;
    }
  }

  .handling-signin-card {
    display: flex;
    min-width: 350px;
    justify-content: center;
  }

  @media (max-width: $screen-phone) {
    .login-buttons-card {
      flex-direction: column;

      button + button {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

.username-password-login-card {
  .login-form {
    display: flex;
    flex-direction: column;

    .username-form-field {
      width: 100%;
    }

    .password-form-field {
      width: 100%;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

    button {
      min-width: 100px;
    }
  }
}


