@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;  
}

.error-message {
  background: #f44336;
  color: #fff;
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: stretch;
  flex-direction: column;

  h1, .login-caption {
    align-self: center;
  }

  .login-caption {
    margin-bottom: 8px;
    text-align: center;
  }

  .login-buttons-card {
    display: flex;
    flex-shrink: 0;

    button + button {
      margin-left: 20px;
    }

    @media (max-width: $screen-phone) {
      flex-direction: column;

      button + button {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  .handling-signin-card {
    display: flex;
    min-width: 350px;
    justify-content: center;
  }

  .username-password-login-card {
    .login-form {
      display: flex;
      flex-direction: column;

      .username-form-field {
        width: 100%;
      }

      .password-form-field {
        width: 100%;
        margin-top: 8px;
      }
    }

    .actions-container {
      display: flex;
      justify-content: center;
      margin-bottom: 0px;

      button {
        min-width: 100px;
      }
    }
  }

  .demo-login-card {
    .actions-container {
      display: flex;
      justify-content: center;
      margin-bottom: 0px;

      button {
        min-width: 100px;
      }
    }
  }

  mat-card + mat-card {
    margin-top: 8px;
  }
}




