@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  min-width: 250px;

  @media (min-width: $screen-tablet) {
    min-width: 350px;
  }
}

.entry-form {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    height: 20px;
  }

  .foreign-text-input {
    width: 100%;
  }

  .translation-input {
    width: 100%;
    margin-top: 24px;

    .translation-spinner {
      text-align: right;
      top: 8px;
    }

    .translation-button {
      text-align: right;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
}
