@import "../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  min-width: 250px;

  @media (min-width: $screen-tablet) {
    min-width: 350px;
  }
}

.entry-form {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
  }

  .foreign-text-input {
    width: 100%;
  }

  .translation-input {
    width: 100%;

    .translation-spinner {
      text-align: right;
      top: 8px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
  }

  .translate-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
}
