<form class="entry-form" [formGroup]="entryForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-input-container class="entry-form__foreign-text-input">
    <input matInput placeholder="word/phrase to translate" formControlName="originalText">
  </mat-input-container>

  <mat-input-container class="entry-form__translation-input">
    <input matInput placeholder="translation" formControlName="translation">
  </mat-input-container>

  <div class="entry-form__footer">
    <button mat-button type="button" [disabled]="!entryForm.value.originalText || isTranslating" (click)="translate()" [color]="!translationError ? undefined : 'warn'">
      <mat-spinner class="entry-form__footer__translation-spinner" *ngIf="isTranslating" color="accent" [diameter]="30" [strokeWidth]="2"></mat-spinner>
      <span *ngIf="!isTranslating && !translationError">translate</span>
      <span *ngIf="!isTranslating && translationError">retry</span>
    </button>
    <button mat-raised-button button type="submit" [disabled]="!entryForm.valid || isTranslating">save</button>
  </div>
</form>
