/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'theme.scss';

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
