@let error = errorMessage() || redirectAuthResult()?.error;
@if (error) {
  <div class="error-message">
    {{ error }}
  </div>
}

<section>
  <h1 class="mat-headline-5">Login</h1>
  <span class="login-caption mat-caption"
    >Login is required to use the app.<br />Please choose one of the following options to login:</span
  >

  <mat-card appearance="outlined" class="login-buttons-card">
    <mat-card-content>
      <button mat-raised-button (click)="loginWithGoogle()" data-test-id="login-with-google-btn">
        <div class="login-button-content">
          <img ngSrc="assets/google-logo.png" alt="google logo" height="30" width="30" />
          <span>Login with Google</span>
        </div>
      </button>

      <button mat-raised-button (click)="loginWithFacebook()" data-test-id="login-with-facebook-btn">
        <div class="login-button-content">
          <img ngSrc="assets/facebook-logo.png" alt="facebook logo" height="30" width="30" />
          <span>Login with Facebook</span>
        </div>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="username-password-login-card">
    <mat-card-content>
      <form class="login-form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()" novalidate>
        <mat-form-field class="username-form-field">
          <input matInput type="email" placeholder="email" formControlName="userName" />
          @if (loginForm.get('userName')?.invalid) {
            <mat-error>{{ getUserNameError() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="password-form-field">
          <input matInput type="password" placeholder="password" formControlName="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-container">
      <button
        mat-raised-button
        type="submit"
        form="loginForm"
        [color]="'accent'"
        [disabled]="!loginForm.valid || isLoggingIn()"
      >
        login
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="demo-login-card">
    <mat-card-content class="actions-container">
      <button mat-raised-button (click)="loginWithDemoAccount()" [disabled]="isLoggingIn()">
        Login with Demo Account
      </button>
    </mat-card-content>
  </mat-card>
</section>
