<mat-card class="entry-card">
  <h2 class="title mat-title">word of the day</h2>

  <div class="content">
    <ng-container *ngIf="entry; else loading" [@entryChange]="entry ? entry.id : undefined">
      <span class="original-text">{{ entry.originalText }}</span>
      <span class="translation mat-caption">{{ entry.translation }}</span>
    </ng-container>
  </div>

  <div class="toolbox" *ngIf="entry">
    <div class="center-content">
      <button class="loading-next-button" *ngIf="!nextRequested; else loadingNext" mat-icon-button (click)="requestNext()">
        <mat-icon aria-label="Refresh word of the day">autorenew</mat-icon>
      </button>

      <ng-template #loadingNext>
        <mat-spinner class="loading-next-spinner" mode="indeterminate" [diameter]="20" [strokeWidth]="2"></mat-spinner>
      </ng-template>
    </div>

    <div class="right-content">
      <button mat-icon-button (click)="markLearned()" [disabled]="nextRequested">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="nextRequested">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()">
          <mat-icon>edit</mat-icon>
          <span>edit</span>
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>delete</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <ng-template #loading>
    <mat-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="3"></mat-spinner>
  </ng-template>
</mat-card>
