:host {
  display: flex;
  flex-direction: column;
}

.entry-card {
  display: flex;
  margin: 2px;
  flex-direction: column;

  .title {
    margin: 0 auto 10px auto;
    opacity: 0.4;
    font-size: 14px;
  }

  .content {
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    flex-direction: column;

    span {
      word-wrap: break-word;
      white-space: normal;
    }

    .original-text {
      text-align: center;
      font-weight: 500;
      font-size: 32px;
    }

    .translation {
      text-align: center;
      margin-top: 8px;
    }
  }

  .toolbox {
    display: flex;
    margin-top: 16px;
    margin-bottom: -8px;

    .center-content {
      flex: 1;
      display: flex;
      justify-content: center;
      margin-left: 84px; // This has to be equal to the width of .right-content

      .loading-next-button {
        opacity: 0.8;
      }

      .loading-next-spinner {
        margin: 10px;
      }
    }

    .right-content {
      width: 84px;
    }
  }
}
