@import "../../../variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.entry-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .entry-list__entry-item + .entry-list__entry-item {
    margin-top: 10px;
  }
}

@media (min-width: $screen-tablet) {
  .entry-list {
    width: 700px;
    align-self: center;
  }
}

.new-entry-fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
