<md-list #list class="entry-list">
  <ng-container *ngFor="let group of groups">
    <div class="entry-list__group-header">
      <h3 md-subheader>{{ group.date | date }}</h3>
    </div>

    <md-list-item *ngFor="let entry of group.entries" class="entry-list__list-item"
                  [@entryCardEnterLeave]="entry.isNew ? 'new' : undefined"
                  (@entryCardEnterLeave.done)="entry.isNew = false">
      <app-entry-item mat-line
                      [entry]="entry"
                      (editRequest)="onEditRequested(entry)"
                      (deleteRequest)="onDeleteRequested(entry, group)">
      </app-entry-item>
    </md-list-item>
  </ng-container>
</md-list>

<button md-fab (click)="addNewEntry()" class="new-entry-fab"><md-icon>add</md-icon></button>
