@import "../../styles/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.section-title {
  margin: 10px auto;
  opacity: 0.6;
  font-size: 18px;
}

.random-entry, .entry-list__group {
  @media (min-width: $screen-tablet) {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.entry-list {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .entry-list__list-item {
    &.mat-list-item {
      height: auto;
    }

    ::ng-deep.mat-list-item-content {
      padding: 0;
    }
  }

  .entry-list__list-item + .entry-list__list-item {
    margin-top: 10px;
  }

  .entry-list__group + .entry-list__group {
    margin-top: 10px;
  }

  .entry-list__group {
    .entry-list__group__header {
      display: flex;
      h3 {
        color: mat-color($primary);
      }

      .mat-divider {
        flex: 1;
        align-self: center;
        margin-top: -8px;
        margin-right: 16px;
        background: mat-color($primary);
      }
    }
  }

  .entry-list__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
}

.loading-spinner-container {
  margin: auto;
}

.empty-list-container {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.new-entry-fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
