<md-card class="entry-card">
  <div class="entry-card__content">
    <span class="entry-card__content__original-text">{{ entry.originalText }}</span>
    <span class="entry-card__content__translation mat-caption">{{ entry.translation }}</span>
  </div>

  <div class="entry-card__toolbox">
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="edit()">
        <md-icon>edit</md-icon>
        <span>edit</span>
      </button>
      <button md-menu-item (click)="delete()">
        <md-icon>delete</md-icon>
        <span>delete</span>
      </button>
    </md-menu>
  </div>
</md-card>
