:host {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.entry-form {
  display: flex;
  flex-direction: column;

  .entry-form__foreign-text-input {
    width: 100%;
  }

  .entry-form__translation-input {
    width: 100%;
  }

  .entry-form__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    .entry-form__footer__translation-spinner {
      margin: auto;
    }
  }
}
