<div class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<section [ngSwitch]="isLoggedIn">
  <div *ngSwitchCase="true" class="logged-in">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar [src]="user.photoURL || 'assets/generic-avatar.png'">
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user.displayName || '(no email)' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>You are logged in using <strong>{{ user.providerId }}</strong></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="logout()">
          Logout
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngSwitchCase="false" class="not-logged-in">
    <mat-card *ngIf="!isHandlingSignInResult" class="login-buttons-card">
      <button mat-raised-button (click)="login(providers.google)">
        <img width="30" src="assets/google-logo.png" /> Login with Google
      </button>

      <button mat-raised-button (click)="login(providers.facebook)">
        <img width="30" src="assets/facebook-logo.png" /> Login with Facebook
      </button>
    </mat-card>

    <mat-card *ngIf="isHandlingSignInResult" class="handling-signin-card">
      Signing in...
    </mat-card>
  </div>
</section>

