@import "../../../variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error-message {
  background: #f44336;
  color: #fff;
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex: 1;
  align-self: center;

  .login-buttons-card {
    display: flex;

    button + button {
      margin-left: 20px;
    }
  }

  @media (max-width: $screen-phone) {
    .login-buttons-card {
      flex-direction: column;

      button + button {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}
