:host {
  display: flex;
  flex-direction: column;
}

.entry-card {
  display: flex;
  align-items: center;
  margin: 2px;

  .entry-card__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .entry-card__content__original-text {
      font-weight: 500;
    }

    .entry-card__content__translation {
      margin-top: 8px;
    }
  }

  .entry-card__toolbox {
    flex: 0 0 auto;
  }
}
