:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%
}

header {
  font-family: 'Arima Madurai', cursive;
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;

  router-outlet {
    flex: 0;
  }
}
