:host {
  height: 100%;
  display: block;
  overflow: hidden;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}

.container {
  height: 100%;

  .toolbar {
    .toolbar__side-content {
      flex: 0 0 32px;
      display: flex;
    }

    .toolbar__header {
      flex: 1;
      display: flex;
      justify-content: center;

      .app-name {
        font-family: 'Arima Madurai', cursive;
        font-size: 18px;
        padding-top: 3px;

        img {
          margin-right: 3px;
        }
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: visible;

    .handle-login-redirect-container {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .spinner {
        margin-top: 24px;
      }
    }
  }

  ::ng-deep.mat-drawer-content {
    display: flex;
    flex-direction: column;
  }
}

