<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over" opened="false" color="primary">
    <mat-toolbar class="toolbar" color="primary">
      <div class="toolbar__header">
        <a class="app-name" mat-button routerLink="/">
          <img src="assets/logo.png" />
          <span>LINQUA</span>
        </a>
      </div>
    </mat-toolbar>

    <mat-card *ngIf="isLoggedIn | async">
      <mat-card-header>
        <img mat-card-avatar [src]="user.photoURL || 'assets/generic-avatar.png'">
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user.email || '(no email)' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>You are logged in using <strong>{{ user.providerId }}</strong></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="logout()">
          Logout
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav>

  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar__side-content">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isLoggedIn | async">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <header class="toolbar__header">
      <a class="app-name" mat-button routerLink="/">
        <img src="assets/logo.png" />
        <span>LINQUA</span>
      </a>
    </header>

    <div class="toolbar__side-content">

    </div>
  </mat-toolbar>

  <main>
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase="states.LoggedIn">
        <app-home-view></app-home-view>
      </ng-container>

      <ng-container *ngSwitchCase="states.HandleLoginRedirect">
        <div class="handle-login-redirect-container">
          Logging in...
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="states.LoginError">

      </ng-container>

      <ng-container *ngSwitchCase="states.LoginNeeded">
        <app-login-control (loginSuccess)="onLoginSuccess()" (loginFailure)="onLoginFailure($event)"></app-login-control>
      </ng-container>

      <ng-container *ngSwitchDefault>
      </ng-container>
    </ng-container>
  </main>

  <footer></footer>
</mat-sidenav-container>
