@import "variables";

:host {
  height: 100%;
  display: block;
  overflow: hidden;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}

.container {
  height: 100%;

  .toolbar {
    .toolbar__side-content {
      flex: 0 0 60px;
      display: flex;
      flex-direction: column;
    }

    .toolbar__side-content-right {
      align-items: flex-end;
    }

    .toolbar__header {
      flex: 1;
      display: flex;
      justify-content: center;

      .app-name {
        font-family: 'Arima Madurai', cursive;
        font-size: 18px;
        padding-top: 3px;

        img {
          margin-right: 3px;
        }
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: visible;

    .handle-login-redirect-container {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .spinner {
        margin-top: 24px;
      }
    }
  }

  ::ng-deep.mat-drawer-content {
    display: flex;
    flex-direction: column;
  }
}

.stats {
  display: flex;

  .stats__icon {
    font-size: 28px;
    line-height: 28px;
    width: 28px;
    height: 28px;
  }

  .stats__numbers {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .stats__numbers__learned {
      font-size: 18px;
      line-height: 18px;
    }

    .stats__numbers__total {
      font-size: 9px;
      line-height: 9px;
      margin-top: 2px;
      opacity: 0.7;
    }
  }
}

