<md-sidenav-container class="container">
  <md-sidenav #sidenav mode="over" opened="false" color="primary">
    <md-toolbar class="toolbar" color="primary">
      <div class="toolbar__header">
        <span class="app-name">LINQUA</span>
      </div>
    </md-toolbar>

    <md-card *ngIf="getUser() | async; let user">
      <md-card-header>
        <img md-card-avatar [src]="user.photoURL || 'assets/generic-avatar.png'">
        <md-card-title>{{ user.displayName }}</md-card-title>
        <md-card-subtitle>{{ user.email || '(no email)' }}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>You are logged in using <strong>{{ user.providerId }}</strong></p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="logout()">
          Logout
        </button>
      </md-card-actions>
    </md-card>
  </md-sidenav>

  <md-toolbar class="toolbar" color="primary">
    <div class="toolbar__side-content">
      <button md-icon-button (click)="sidenav.toggle()" *ngIf="getIsLoggedIn() | async">
        <md-icon>menu</md-icon>
      </button>
    </div>

    <header class="toolbar__header">
      <a class="app-name" md-button routerLink="/">LINQUA</a>
    </header>

    <div class="toolbar__side-content">

    </div>
  </md-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer></footer>
</md-sidenav-container>
