@use '@angular/material' as mat;
@use "variables" as vars;

:host {
  display: flex;
  flex-direction: column;
}

.entry-card {
  display: flex;
  align-items: center;
  margin: 2px;

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      word-wrap: break-word;
      white-space: normal;
    }

    .original-text {
      font-weight: 500;
    }

    .translation {
      margin-top: 8px;
    }
  }

  .toolbox {
    flex: 0 0 auto;
  }
}

:host-context(.learned) {
  .mark-learned-button {
    color: mat.get-color-from-palette(vars.$green);
  }

  .content {
    opacity: 0.3;
    text-decoration: line-through;
  }
}
