<mat-card class="entry-card">
  <div class="content">
    <span class="original-text" data-test-id="original-text">{{ entry.originalText }}</span>
    <span class="translation mat-caption" data-test-id="translation">{{ entry.translation }}</span>
  </div>

  <div class="toolbox">
    <button mat-icon-button class="mark-learned-button" (click)="toggleIsLearned()" data-test-id="mark-learned-button">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" data-test-id="open-action-menu-button" [disabled]="entry.isLearned">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" data-test-id="action-menu">
      <button mat-menu-item (click)="edit()">
        <mat-icon>edit</mat-icon>
        <span>edit</span>
      </button>
      <button mat-menu-item (click)="delete()" data-test-id="delete-button">
        <mat-icon>delete</mat-icon>
        <span>delete</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
